@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300 1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  transition: width 0.25s ease-in-out;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(105,0,138);
  background: linear-gradient(rgba(91, 32, 119, 1) 8%, rgba(255,255,255,1) 18%);
  overflow-x: hidden;
}

/* .Homescreen{
  position: absolute;
  top: -100px;
  z-index: -1;
  width: 100%;
} */

.header{
  background-color: var(--colorP1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: 80px;
  position: sticky;
  top: 0px;
}

.header__cont{
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__menu ul{
  display: flex;
}

.header__menu ul a:hover{
  color: var(--colorP3);
}

.header__listItem{
  color: white;
  list-style: none;
  text-decoration: none;
  margin-right: var(--spacing5);
}

.header__logo{
  cursor: pointer;
}

/* main */

main{
  width: 1200px;
}

.section{
  display: flex;
  align-items: center;
  height: 50rem;
  justify-content: space-between;
  background-repeat: no-repeat;
}

.section__sectcont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85rem;
  margin-right: 5rem;
}

.section b{
  text-decoration: underline;
  color: #B17ACD;
}

.section__card{
  width: 35rem;
  color: white;
}

.section__subcard{
  background-color: var(--colorP3_-OPC);
  padding: var(--spacing5);
  margin-right: var(--spacing4);
  width: 20rem;
  height: 20rem;
  border-radius: var(--border_rad);
  margin-top: var(--spacing4);
  transition: 0.5s ease;
}

.section__subcard--background4{
  background: linear-gradient(315deg, rgb(209, 25, 255) 3%, var(--colorP2) 38%, var(--colorP1) 68%, rgb(151, 25, 255) 98%);
  animation: gradient 5s ease infinite;
  background-size: 500%;
}

.section__subcard:hover{
  transform: scale(1.1);
}

.section__tittletext{
  font-size: var(--Tittle-txt);
  margin-bottom: var(--spacing3);
}

.section__subtittletext{
  color: var(--colorP1);
  font-size: var(--Subtitle-txt);
}

.section__bodytext{
  margin-top: var(--spacing1);
  color: var(--colorP3);
  font-size: var(--Body-txt);
}

.section__Ptext{
  margin-top: var(--spacing1);
  color: var(--colorP3);
  font-size: var(--parr-txt);
  display: flex;
  align-items: center;
}

.section__cardimg{
  border-radius: var(--border_rad);
}

.section__button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-spaciong-top-bot) var(--button-spacing-lft-rgt);
  border: none;
  border-radius: 8px;
  margin: var(--spacing3) var(--spacing2);
  font-size: var(--parr-txt);
  background-color: var(--colorP3);
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
  width: 282px;
}

.section__button:hover{
  background-color: var(--colorP2);
}

.section__button:active{
  border: 5px solid var(--colorP2);
  background-color: var(--colorP1);
  padding: var(--spacing1) var(--spacing7);
  transform: rotate(10deg);
}


.section__icon{
  width: 30px;
  margin-right: var(--spacing1);
}

/* footer */

footer{
  background-color: var(--colorP1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: 374px;
}

.footer__cont{
  display: flex;
}

.footer__text{
  margin-top: var(--spacing1);
  color: var(--colorP3);
  font-size: var(--Body-txt);
}

.footer__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 385px;
  text-align: center;
  margin-left: var(--spacing10);
}

.footer__img{
  width: 120px;
  cursor: pointer;
}

.footer__img--sizeMod{
  width: 86px;
}


/* modificadores */

.section__sectcont--flexdirMod{
  display: flex;
  flex-direction: row;
}

.section--marginAdt{
  margin-bottom: 25rem;
}

.section__tittletext--subcardColorSize{
  color: var(--colorP1);
  font-size: var(--Subtitle-txt);
}

.section__tittletext--subtittlesection{
  color: var(--colorP1);
  align-self: center;
  margin: var(--spacing4);
}

.section__card--flex_sizemod{
  display: flex;
  width: 80rem;
  margin-bottom: 20rem;
}

.section__card--flex_sizemod2{
  display: flex;
  width: 80rem;
  flex-direction: column;
}

.section__card--subcardcont{
  display: flex;
  margin: var(--spacing0);
  width: 100vw;
}

.section__card--subcardcont2{
  display: flex;
  margin: var(--spacing0);
  width: 1990px;
  flex-wrap: wrap;
}

.section__subcard--sizeMod{
  background-color: var(--colorP3_-OPC);
  padding: var(--spacing5);
  margin-right: var(--spacing4);
  width: 15rem;
  height: 23rem;
  border-radius: var(--border_rad);
  margin-top: var(--spacing4);
}

.section__subcard--sizeMod2{
  width: 30rem;
}

.section__card--button_card{
  display: flex;
  margin-left: -1rem;
}

.section__card--center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--center{
  display: flex;
  justify-content: center;
}

.section__subcard--background1{
  background-color: var(--colorP2);
}

.section__subcard--background2{
  background-color: var(--colorP1);
}

.section__subcard--background3{
  background-color: var(--colorP3);
}

.section__subtittletext--icon{
  display: flex;
  width: 100vw;
}

.section__bodytext--darktext{
  color: black;
}

.section__Ptext--darktext{
  color: black;
}

.section__Ptext--lighttext{
  color: white;
}

.section__tittletext--subcardColorSize2{
  color: white;
  font-size: var(--Subtitle-txt);
}

.section__sectcont--marginMod{
  margin-right: var(--spacing0);
  margin-left: 5rem;
}

.section--marginflexMod{
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
}

.section--marginxxflexMod{
  margin-top: 125rem;
  display: flex;
  flex-direction: column;
}



@media (max-width: 850px){
  .header{
    display: flex;
    position: static;
  }

  .header__menu{
    margin-right: var(--spacing2);
  }

  .header__logo{
    margin-left: var(--spacing5);
  }

  body{
      background: linear-gradient(rgba(91, 32, 119, 1) 8%, rgba(255,255,255,1) 12%);
  }

  main{
    width: 800px;
  }

  .section{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 50rem;
    flex-direction: row;
  }

  .section__card{
    flex-wrap: wrap;
    width: calc(100%);
    margin: 0;
    justify-content: center;
    text-align: center;

  }

  .section__sectcont{
    align-items: center;
    width: calc(100%);
    flex-wrap: wrap;
    margin: 0;
    padding: 5rem 0rem;
  }

  .section__subtittletext{
    width: calc(100%);
    justify-content: center;
    padding: 0;
  }
}

:root{
  --colorP1: rgba(91, 32, 119, 1);
  --colorP2: rgba(138, 42, 144, 1);
  --colorP3: rgba(177, 122, 205, 1);

  --colorP3_-OPC: rgba(177, 122, 205, 0.25);

  --border_rad: 8px;

  --spacing0: 0rem;
  --spacing1: 0.5rem;
  --spacing2: 1rem;
  --spacing3: 1.5rem;
  --spacing4: 2rem;
  --spacing5: 2.5rem;
  --spacing6: 3rem;
  --spacing7: 3.5rem;
  --spacing8: 4rem;
  --spacing9: 4.5rem;
  --spacing10: 5rem;
  --spacing11: 6rem;
  --spacing12: 7rem;
  --spacing13: 8rem;
  --spacingmenu: 360px;

  --button-spacing-lft-rgt: 60px;
  --button-spaciong-top-bot: 16px;

  --Tittle-txt: 64px;
  --Subtitle-txt: 32px;
  --Body-txt: 20px;
  --parr-txt: 16px;
}


@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 200% 200%;
  }
}
